In [5]:
import pandas as pd

In [6]:
df=pd.read_csv(r"C:\Users\rasht\OneDrive\Desktop\data science\deep learning\ANN\cleaned_data.csv")

In [7]:
df

          price  kms_driven  owner  age  power  brand
0       35000.0     17654.0      1    3  110.0      8
1       65000.0     16329.0      1    4  180.0      8
2       80000.0     10000.0      1    3  150.0      5
3       53499.0     25000.0      1    6  150.0      5
4       85000.0      8200.0      1    3  160.0      6
...         ...         ...    ...  ...    ...    ...
17720   25000.0     32588.0      1    9  150.0      3
17721  123000.0     14500.0      1    4  250.0      5
17722   30000.0      6639.0      1    9  180.0      8
17723   60000.0     20373.0      1    6  220.0      3
17724   22000.0     60857.0      1   13  150.0      3

[17725 rows x 6 columns]

In [8]:
x = df.drop('price', axis=1)
y = df[['price']]

In [9]:
x

       kms_driven  owner  age  power  brand
0         17654.0      1    3  110.0      8
1         16329.0      1    4  180.0      8
2         10000.0      1    3  150.0      5
3         25000.0      1    6  150.0      5
4          8200.0      1    3  160.0      6
...           ...    ...  ...    ...    ...
17720     32588.0      1    9  150.0      3
17721     14500.0      1    4  250.0      5
17722      6639.0      1    9  180.0      8
17723     20373.0      1    6  220.0      3
17724     60857.0      1   13  150.0      3

[17725 rows x 5 columns]

In [10]:
y

          price
0       35000.0
1       65000.0
2       80000.0
3       53499.0
4       85000.0
...         ...
17720   25000.0
17721  123000.0
17722   30000.0
17723   60000.0
17724   22000.0

[17725 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
import tensorflow as tf

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [14]:
input_shape=(5,)

In [15]:
model=Sequential()
# input_layer
model.add(Dense(units=64,activation='relu',input_shape=input_shape))

# hidden layer
model.add(Dense(units=32,activation='relu'))
model.add(Dense(units=16,activation='relu'))
model.add(Dense(units=8,activation='relu'))


# output layer
model.add(Dense(units=1,activation='linear'))

model.compile(loss='mse',optimizer='adam',metrics=['mse','mae'])

C:\Users\rasht\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [16]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           384 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 8)              │           136 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 1)              │             9 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,137 (12.25 KB)

 Trainable params: 3,137 (12.25 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
history =model.fit(x_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 1872772352.0000 - mae: 33289.4727 - mse: 1872772352.0000
Epoch 2/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 354285568.0000 - mae: 13528.6055 - mse: 354285568.0000
Epoch 3/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 328188896.0000 - mae: 13155.4238 - mse: 328188896.0000
Epoch 4/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 322922208.0000 - mae: 13043.3545 - mse: 322922208.0000
Epoch 5/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 315393504.0000 - mae: 12852.1426 - mse: 315393504.0000
Epoch 6/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 308864672.0000 - mae: 12679.1641 - mse: 308864672.0000
Epoch 7/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 303686592.0000 - mae: 12580.4570 - mse: 303686592.0000
Epoch 8/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 296886080.0000 - mae: 12368.9951 - mse: 296886080.0000
Epoch 9/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 297092224.0000 - mae: 12403.9580 - mse: 297092224.0000
Epoch 10/10
444/444 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 295974048.0000 - mae: 12374.6006 - mse: 295974048.0000

In [18]:
pd.DataFrame(history.history)

           loss           mae           mse
0  1.872772e+09  33289.472656  1.872772e+09
1  3.542856e+08  13528.605469  3.542856e+08
2  3.281889e+08  13155.423828  3.281889e+08
3  3.229222e+08  13043.354492  3.229222e+08
4  3.153935e+08  12852.142578  3.153935e+08
5  3.088647e+08  12679.164062  3.088647e+08
6  3.036866e+08  12580.457031  3.036866e+08
7  2.968861e+08  12368.995117  2.968861e+08
8  2.970922e+08  12403.958008  2.970922e+08
9  2.959740e+08  12374.600586  2.959740e+08

In [19]:
pred =model.predict(x_test)

111/111 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [20]:
pred

array([[35181.652],
       [32740.662],
       [22503.56 ],
       ...,
       [54557.855],
       [16578.445],
       [17203.447]], dtype=float32)

In [21]:
y_test

         price
17109  35000.0
9303   35000.0
13886  43000.0
11643  20000.0
14142  70000.0
...        ...
9608   25000.0
5969   23000.0
1229   51500.0
2559   18000.0
11223  20000.0

[3545 rows x 1 columns]

In [23]:
# output = pd.DataFrame({'actual': y_test, 'predict': pred})

In [ ]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.